{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}


{% block content %}
<form method="post" class="row row-cols-lg-auto g-3 justify-content-center align-items-center container-fluid mb-3">
    {{ form.csrf_token() }}
    <div class="col-8">{% for error in form.url.errors %}<div class="text-danger"><small>{{ error }}</small></div>{%
        endfor %}{{ render_field(form.url, form_type="inline") }}</div>
    <div class="mb-3 col-2">{{ render_field(form.submit, form_type="inline") }}</div>
</form>

<div class="table-responsive-lg mx-auto">
    <table class="table table-hover">
        {% if name is defined %}
        <tr>
            <th>FQDN: </th>
            <td><a href="{{ ''.join(['http://', url]) }}" target="_blank">{{ url }}</a></td>
        </tr>
        <tr>
            <th>Name: </th>
            <td>{{ name }}</td>
        </tr>
        {% endif %}
        {% for alias in aliases %}
        <tr>
            <th>Aliases: </th>
            <td style="word-break: break-word;">{{ alias }}</td>
        </tr>
        {% endfor %}
        {% for i in range(0, iplist|length) %}
        <tr>
            <th>Address: </th>
            <td>{{ iplist[i][0] }}</td>
        </tr>
        <tr>
            <th>Hostname: </th>
            <td>{{ iplist[i][1] }}</td>
        </tr>
        <tr>
            <th>ASN: </th>
            <td>{{ iplist[i][2][0] }}</td>
        </tr>
        <tr>
            <th>Country: </th>
            <td>{{ iplist[i][2][1] }}</td>
        </tr>
        <tr>
            <th>City: </th>
            <td>{{ iplist[i][2][2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}