{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/table.html' import render_table %}


{% block content %}

<form method="post" class="row row-cols-lg-auto g-3 align-items-center container-fluid mb-3">
    {{ form.csrf_token() }}
    <div class="col">{{ render_field(form.url, placeholder="請輸入欲查詢網址", form_type="inline") }}</div>
    <div class="mb-3 col-12">{{ render_field(form.submit, form_type="inline") }}</div>
</form>

<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            {% if name is defined %}
            <th class="w-25">Searching URL: </th>
            <td class="w-75">{{ url }}</td>
        </tr>
        <tr>
            <th>Name: </th>
            <td>{{ name }}</td>
        </tr>
        {% endif %}
        {% for alias in aliases %}
        <tr>
            <th>Aliases: </th>
            <td>{{ alias }}</td>
        </tr>
        {% endfor %}
    </table>
    {% for i in range(0, iplist|length) %}
    <table class="table table-hover">
        <tr>
            <th class="w-25">Address: </th>
            <td class="w-75">{{ iplist[i][0] }}</td>
        </tr>
        <tr>
            <th>Hostname: </th>
            <td>{{ iplist[i][1] }}</td>
        </tr>
        <tr>
            <th>ASN: </th>
            <td>{{ iplist[i][2][0] }}</td>
        </tr>
        <tr>
            <th>Country: </th>
            <td>{{ iplist[i][2][1] }}</td>
        </tr>
        <tr>
            <th>City: </th>
            <td>{{ iplist[i][2][2] }}</td>
        </tr>
    </table>
    {% endfor %}
</div>

{% endblock %}